.search {
    display: flex;
    gap: 13px;
}

.search p {
    color: #C4C4C4;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search {
    border-radius: 10px;
    border: 2px solid #F3F3F3;
    padding: 15px 20px;
    width: 250px;
}

.title {
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}