.card {
    cursor: pointer;
    width: 240px;
    height: 260px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #F3F3F3;
    background: #FFF;
    padding: 30px;
    position: relative;
}

.card_text{
    position: absolute;
    bottom: 35px;
    width: auto;
}

.image {
    position: absolute;
    width: 133px;
    left: 50%;
    transform: translate(-50%, 0);
}

.card_price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.card-title {
    color: #232323;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
    width: 100%;
    width: 150px;
    
}

.price p {
    color: #BDBDBD;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.price span {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.add_btn{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 32px;
}
.like{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 32px;
}