.modal {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100%;
    background: #00000000;
    display: none;
    cursor: pointer;
}

.modal_block {
    position: fixed;
    right: -100%;
    top: 0px;
    background: #FFF;
    box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.10);
    width: 385px;
    height: 100%;
    padding: 30px;
}

.modal_block .search {
    display: none;
}

.modal_action_block {
    position: absolute;
    bottom: 30px;
    width: 85%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.basket_btn {
    width: 100%;
    padding: 18px;
    border-radius: 18px;
    background: #9DD458;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border: 0px;
    cursor: pointer;
}

.modal_stroke {
    display: flex;
    width: 100%;
}

.modal_stroke p {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    white-space: nowrap;


}

.modal_stroke span {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    white-space: nowrap;
}

.dashed {
    width: 100%;
    border-bottom: 1px dashed #DFDFDF;
}